<div class="row">
    <div class="col-6">
        <app-monthly-transactions></app-monthly-transactions>
    </div>
    <div class="col-6">
        <app-monthly-dividends></app-monthly-dividends>
    </div>
</div>
<br />
<div class="row">
    <div class="col-6">
        <app-monthly-transactions-per-type></app-monthly-transactions-per-type>
    </div>
    <div class="col-6">
        <app-monthly-dividends-per-type></app-monthly-dividends-per-type>
    </div>
</div>
<br />
<div class="row">
    <div class="col-6">
        <app-current-market-position></app-current-market-position>
    </div>
    <div class="col-6">
        <app-market-position-per-asset></app-market-position-per-asset>
    </div>
</div>