<div class="row">
    <div class="col">
        <div class="card text-bg-success mb-3">
            <div class="card-body">
                <h1 class="card-title">STOCKS</h1>
                <h3 class="card-subtitle mb-2">{{ totalStocks | currency: 'BRL' }}</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-success mb-3">
            <div class="card-body">
                <h1 class="card-title">FIIs</h1>
                <h3 class="card-subtitle mb-2">{{ totalFIIs | currency: 'BRL' }}</h3>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-bg-success mb-3">
            <div class="card-body">
                <h1 class="card-title">Total</h1>
                <h3 class="card-subtitle mb-2">{{ total | currency: 'BRL' }}</h3>
            </div>
        </div>
    </div>
</div>