<main>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/"
                class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">
                    Portfolio - {{ portfolioTotalByYear | currency: 'BRL' }}
                    / {{ portfolioTotal | currency: 'BRL' }}
                </span>
            </a>

            <ul class="nav nav-pillsm">
                <li class="nav-item"><a href="/dashboard" class="nav-link active" aria-current="page">Dashboard</a>
                </li>
                <li class="nav-item"><a href="/transactions?year={{currentYear}}" class="nav-link">Transactions</a>
                </li>
                <li class="nav-item"><a href="/dividends?year={{currentYear}}" class="nav-link">Dividends</a></li>
                <li class="nav-item">
                    <select class="form-select" (ngModelChange)="getData($event)"
                        [(ngModel)]="currentYear">
                            <option *ngFor='let year of portfolioAllYears' [selected]="year === currentYear" [value]="year">{{year}}</option>                        
                    </select>
                </li>
            </ul>
        </header>
        <router-outlet></router-outlet>
    </div>
</main>
<br /><br />